{
  "AZURE_OPENAI_API_KEY": "<yours>",
  "AZURE_OPENAI_ENDPOINT": "https://<yours>.openai.azure.com/",
  "AZURE_OPENAI_API_VERSION": "2025-04-01-preview",
  "AZURE_OPENAI_DEPLOYMENT_NAME": "gpt-4.1",
  "AZURE_OPENAI_QUERY_DEPLOYMENT_NAME": "gpt-4o-mini",
  "LOG_LEVEL": "DEBUG",
  "MAX_TOKENS": "1500",
  "DEFAULT_TEMPERATURE": "0.7",
  "REDIS_USE": "False",
  "REDIS_HOST": "localhost",
  "REDIS_PORT": "6379",
  "REDIS_PASSWORD": "<yours>",
  "REDIS_DB": "0",
  "REDIS_CACHE_EXPIRED_SECOND": "604800",
  "GOOGLE_API_KEY": "<yours>",
  "GOOGLE_CSE_ID": "<yours>",
  "BING_API_KEY": "<yours>",
  "YOUTUBE_API_KEY": "<yours>",
  "PLANNER_MAX_PLANS": "3",
  "BING_GROUNDING_PROJECT_ENDPOINT": "https://<yours>.services.ai.azure.com/api/projects/<yours>-project",
  "BING_GROUNDING_AGENT_MODEL_DEPLOYMENT_NAME": "gpt-4",
  "BING_GROUNDING_CONNECTION_ID": "/subscriptions/<yours>/resourceGroups/<yours>/providers/Microsoft.CognitiveServices/accounts/<yours>/connections/agentbingsearch",
  "BING_GROUNDING_MAX_RESULTS": "5",
  "AUTH_USERNAME":"<yours>",
  "AUTH_PASSWORD":"<yours>",
  "CHAINLIT_AUTH_SECRET":"<yours>" 